.slider{
	width: 900px;
	height: 400px;
	margin:0 auto;
	overflow: hidden; 
}

.slides{
	display: block;
	width: 8000px;
	height: 400px;
	list-style: none;
	margin:0;
	padding: 0;
}

.slide{
	float: left;
	width: 900px;
	height: 400px;
}

img{
	width: 900px;
	height: 400px;
	border:1px solid #fff;
}